export NODE_TLS_REJECT_UNAUTHORIZED=0
export VUE_APP_API=https://releasenet.radixdlt.com
export VUE_APP_EXPLORER=https://betanet-explorer.radixdlt.com
export VUE_APP_FAUCET=https://releasenet-faucet.radixdlt.com/faucet/request