export NODE_TLS_REJECT_UNAUTHORIZED=0
export VUE_APP_API=https://stokenet.radixdlt.com
export VUE_APP_EXPLORER=https://stokenet-explorer.radixdlt.com
export VUE_APP_FAUCET=https://stokenet-faucet.radixdlt.com
export APPLE_ID=
export APPLE_ID_PASSWORD=
