@tailwind base;

@tailwind components;

@tailwind utilities;

.placeholder-sans::placeholder {
  font-family: 'IBM Plex Sans', 'sans-serif';
}

.Vue-Toastification__toast.Vue-Toastification__toast--success {
  @apply px-4 py-3 text-white rounded-none bg-rGreen min-w-min min-h-0
}

.Vue-Toastification__toast.Vue-Toastification__toast--error {
  @apply px-4 py-3 text-white rounded-none bg-rRed min-w-min min-h-0
}

::selection {
  @apply bg-rGreen text-white;
}

ol.decimal {
  counter-reset: item;
}

ol.decimal > li:before {
  display: inline-block;
  margin-right: 16px;
  content: counters(item, ".");
  counter-increment: item;
}

ol.alpha {
  counter-reset: list;
}

ol.alpha > li:before {
  content:"(" counter(list, lower-alpha) ") ";
  counter-increment: list;
}

.no-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1;
}
.no-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}